body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}
.App {
  text-align: center;
}

.App-header {
  width: 100%;
  background-color: #222;
  padding: 5px;
  color: white;
  margin-bottom: 25px;
}

.App-title {
  font-size: 1.5em;
}
.App-nav {
  padding-bottom: 15px;
}
.App-intro {
  font-size: large;
}
#calendar-head {
  margin: 0 auto;
  width: 700px;
  display: flex;
  justify-content: space-around;
}
.week {
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.week-day {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid grey;
  text-align: center;
  margin: 2px;
  border-radius: 5px;
  text-align: right;
  font-size: 20px;
  padding: 5px;
}
.week-day-event {
  font-size: 10px;

}
.has-event {
  background-color: lightblue;
}
.week-day:hover {
  cursor: pointer;
  background-color: grey;
  color: white;
}
.disabled {
  cursor: none;
  background-color: white;
}
.disabled:hover {
  cursor: default;
  background-color: white;
}
.modal-redactor {
  width: 400px;
  margin: 0 auto;
}

.form-control {
  border-color: #454545;
  color: #454545;
  font-weight: 700;
  border-radius: 5px;
  background: #f9f9f9;
  padding: 15px 15px;
  height: 45px;
  border: 1px solid #333;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  font-family: sans-serif;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 5px;
}

.form-submit {
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
